<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.xcxcxz.board.mappers.article.ArticleMapper">
	<insert id="create"> INSERT INTO article (article_no, title, content,
		writer, regdate, viewcnt) VALUES ( art_seq.nextval ,
		#{title} ,
		#{content} , #{writer} , sysdate , #{viewCnt} )
	</insert>
	<select id="read" resultMap="ArticleResultMap"> SELECT article_no, title, content,
		writer, regdate, viewcnt FROM article WHERE article_no = #{article_no}
	</select>
	<update id="update"> UPDATE article SET title = #{title}, content =
		#{content} WHERE article_no = #{article_no}
	</update>
	<delete id="delete"> DELETE FROM article WHERE article_no = #{article_no}
	</delete>
	<select id="listAll" resultType="ArticleVO"> 
	<![CDATA[ SELECT article_no, title, content, writer, regdate, viewcnt FROM article WHERE article_no > 0 ORDER BY article_no DESC, regdate DESC ]]>
	</select>
	<select id="listPaging" resultMap="ArticleResultMap"> 
	<![CDATA[SELECT article_no, title, content, writer, regdate, viewcnt FROM article WHERE article_no > 0 ORDER BY article_no DESC, regdate DESC WHERE #{page} <=10]]>
	</select>
	<select id="listCriteria" resultMap="ArticleResultMap"> 
	SELECT article_no, title, content, writer, regdate, viewcnt 
	FROM (SELECT article_no, title, content, writer, regdate, viewcnt ROW_NUMBER() OVER (ORDER BY article_no DESC, regdate DESC) AS RNUM
	FROM article WHERE 1=1) 
	AR WHERE RNUM BETWEEN #{pageStart} AND #{pageStart} ORDER BY article_no DESC, regdate DESC
	</select>
	<select id="countArticles" resultType="int"> <![CDATA[ SELECT COUNT(article_no) FROM article WHERE article_no > 0 ]]>
	</select>
	<select id="listSearch" resultMap="ArticleResultMap">
		SELECT article_no, title, content, writer, regdate, viewcnt FROM (SELECT article_no, title, content, writer, regdate, viewcnt, ROW_NUMBER() OVER (ORDER BY article_no DESC, regdate DESC) AS RNUM FROM article where 1=1 <include refid="search" />) art WHERE RNUM BETWEEN #{pageStart} AND #{pageStart}
		</select>
		<select id="countSearchedArticles" resultType="int"> <![CDATA[ SELECT COUNT(article_no) FROM article WHERE article_no > 0 ]]>
			<include refid="search" />
		</select>
		<sql id="search">
			<if test="searchType != null">
				<if test="searchType == 't'.toString()">AND TITLE LIKE '%' || #{keyword} || '%'</if>
				<if test="searchType == 'c'.toString()">AND CONTENT LIKE '%' || #{keyword} || '%'</if>
				<if test="searchType == 'w'.toString()">AND WRITER LIKE '%' || #{keyword} || '%'</if>
				<if test="searchType == 'tc'.toString()">AND (TITLE LIKE '%' || #{keyword} || '%') or (CONTENT
					LIKE '%' || #{keyword} || '%')</if>
				<if test="searchType == 'cw'.toString()">AND (content LIKE '%' || #{keyword} || '%') or (writer
					LIKE '%' || #{keyword} || '%')</if>
				<if test="searchType == 'tcw'.toString()">AND (title LIKE '%' || #{keyword} || '%') or (content
					LIKE '%' || #{keyword} || '%') or (writer LIKE '%' || #{keyword} ||
					'%')</if>
			</if>
		</sql>

		<resultMap id="ArticleResultMap" type="ArticleVO">
			<id property="article_no" column="article_no" />
			<result property="title" column="title" />
			<result property="content" column="content" />
			<result property="writer" column="writer" />
			<result property="regDate" column="regdate" />
			<result property="viewCnt" column="viewcnt" />
		</resultMap>
</mapper>

